// OTHER CSS

body {
   background-color: $light-beige;
   color: $jet;
}
.end {
    margin-top: 1rem;
    margin-bottom: 50px;
}
footer {
    text-align: center;
    padding: 10px;
}
.large-text-size {
    font-size: 260%;
}
.card-body {
    background-color: $grey-beige;
}