// OTHER CSS

body {
   background-color: $light-beige;
   color: $jet;
}
.end {
    margin-top: 10px;
    margin-bottom: 1rem;
}
footer {
    text-align: center;
    padding: 10px;
}
.large-text-size {
    font-size: 260%;
}
